{% extends 'base.html' %} 
 
{% block container %} 
  <h1>Welcome to the Catalog Home</h1> 
  {% if current_user.is_authenticated %}
    <h3>Hey {{ session.username }}!!</h3>
    <a href="{{ url_for('catalog.products') }}" id="catalog_link"> Click here to see the catalog </a> 
  <br/>
  <br/>
  <a href="{{ url_for('catalog.recent_products') }}">Recently visted.</a> 
  <br/>
  <br/>
  <a href="{{ url_for('auth.logout') }}">Click here to logout</a>
  {% else %}
    Click here to <a href="{{ url_for('auth.login') }}">login</a> or
    <a href="{{ url_for('auth.register') }}">register</a>
  {% endif %}

{% endblock %} 
 
{% block script %} 
<script> 
$(document).ready(function(){ 
  $.getJSON("/home", function(data) { 
    $('#catalog_link').append('<span class="badge">' + data.count 
       + '</span>'); 
  }); 
}); 


</script> 
{% endblock %} 