{% extends 'home.html' %}
{% block container %}
    {% if current_user.is_authenticated %}
        <div class="top-pad">
        <form class="form-horizontal"
            method="POST"
            action="{{ url_for('catalog.create_product') }}"
            role="form"
            enctype="multipart/form-data">
            {{ form.csrf_token }}
            <div class="form-group"> {{ form.name.label }} : {{form.name() }}</div>
            <div class="form-group"> {{ form.price.label }} : {{form.price() }}</div>
            <div class="form-group"> {{ form.category.label }} : {{form.category() }}</div>
            <div class="form-group"> {{ form.image.label }} : {{ form.image(style='display:inline;') }}</div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
    {% else %}
        Click here to <a href="{{ url_for('auth.login') }}">login</a> or
        <a href="{{ url_for('auth.register') }}">register</a>
    {% endif %}
{% endblock %}